h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.email{
    color: blue;
    font-weight: bold;
}

.msj{
    font-style: italic;
    color: green;
}

.fyh{
    color: maroon;
}